html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eee;
  color: #222;
}
a {
  color: cadetblue;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #999;
}
h1 > a {
  color: #222;
  text-decoration: none;
}
h1 > a:hover {
  color: cadetblue;
}
h1,
header p {
  margin: 0;
  padding: 0;
}
header li.active a {
  color: crimson;
  font-weight: bold;
}
header svg {
  vertical-align: bottom;
}

header > ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-triggers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid crimson;
  box-shadow: 0px 5px 10px -5px crimson;
}

.tab-triggers li {
  margin: 0;
  padding: 0;
}
.tab-triggers button {
  background: #fff;
  border: 2px solid cadetblue;
  border-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
}
.tab-triggers .active button {
  border-color: crimson;
  background-color: crimson;
  color: #eee;
  font-weight: bold;
}
.tab-content {
  max-width: 100vw;
  overflow-x: auto;
}

.avatar {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.25rem;
}

.avatar .form::before {
  content: "(";
}
.avatar .form::after {
  content: ")";
}

@media (max-width: 640px) {
  .avatar .name span:not(.first),
  .avatar .form {
    display: none;
  }
}

.avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #333;
}
.homework-card {
  border: 1px solid #666;
  background-color: #ffc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}
.homework-card.is-done {
  background-color: lightgreen !important;
  color: #222 !important;
}
.homework-card.is-due-soon {
  background-color: tomato;
}
.homework-card.is-due-soon a {
  color: aqua;
}
.homework-card.is-late {
  background-color: darkred;
  color: white;
}

.homework-card .instructions {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  color: #222;
  border: 1px solid #666;
}
.loading,
.error {
  margin: 2rem auto;
  font-size: 3rem;
  text-align: center;
}
.error {
  color: firebrick;
}
.error .msg {
  font-family: monospace;
  font-size: 1rem;
  color: darkred;
  border: 1px solid #333;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.loading span {
  display: inline-block;
}
/* code #3 */
.loading03 span {
  margin: 0 0.075em;
  animation: loading03 0.7s infinite alternate;
}
.loading03 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading03 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading03 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading03 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading03 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading03 span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
/* code #4 */
.loading04 span {
  animation: loading04 0.7s infinite;
}
.loading04 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading04 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading04 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading04 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading04 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading04 span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading04 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.timetable {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.25rem;
}
.timetable div {
  border: 1px solid #333;
  border-radius: 0.25rem;
  background: #fff;
  padding: 0.25rem;
}

.timetable .subject {
  font-weight: bold;
  font-size: 1.2rem;
}
.timetable .group,
.timetable .timing {
  font-size: 0.8rem;
}
.timetable .timing {
  font-variant-numeric: tabular-nums;
}
.timetable.today-1 .day-1,
.timetable.today-2 .day-2,
.timetable.today-3 .day-3,
.timetable.today-4 .day-4,
.timetable.today-5 .day-5 {
  background: khaki;
}
