body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  color: #222;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.profile-pic {
  border-radius: 50%;
  border: 2px solid #444;
  width: 3em;
  height: 3em;
  float: right;
}
a {
  color: cornflowerblue;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}
.column {
  flex: 1;
}
h2,
h3 {
  margin-top: 0;
}
.homework-card {
  border: 1px solid #666;
  background-color: #ffc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}
.homework-card.is-done {
  background-color: lightgreen !important;
  color: #222 !important;
}
.homework-card.is-due-soon {
  background-color: tomato;
}
.homework-card.is-due-soon a {
  color: aqua;
}
.homework-card.is-late {
  background-color: darkred;
  color: white;
}
header {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #999;
}
h1,
header p {
  margin: 0;
  padding: 0;
}
h1 a {
  font-size: 50%;
}
.instructions {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  color: #222;
  border: 1px solid #666;
}
#splash {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#splash a {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  color: #fff;
  background-color: cornflowerblue;
}
